[project]
	description = Hyperledger Fabric v1.0 ??????????
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Liu Boyu (LiuBoyu)
[access "refs/for/refs/*"]
	read = group user/Liu Boyu (LiuBoyu)
	push = group user/Liu Boyu (LiuBoyu)
	label-Code-Review = -2..+2 group user/Liu Boyu (LiuBoyu)
	label-Verified = -1..+1 group user/Liu Boyu (LiuBoyu)
	rebase = group user/Liu Boyu (LiuBoyu)
	removeReviewer = group user/Liu Boyu (LiuBoyu)
	submit = group user/Liu Boyu (LiuBoyu)
[access "refs/heads/*"]
	read = group user/Liu Boyu (LiuBoyu)
	create = group user/Liu Boyu (LiuBoyu)
	push = +force group user/Liu Boyu (LiuBoyu)
	pushMerge = group user/Liu Boyu (LiuBoyu)
[access "refs/tags/*"]
	push = group user/Liu Boyu (LiuBoyu)
	push = +force group user/Liu Boyu (LiuBoyu)
